:root {
    --green500: #3c8067;
    --green700: #1b4133;
    --black: #1c232b;
    --grey: #6c7289;
    --cream: #f2ebe3;
    --white: #fff;
}

* { 
    box-sizing: border-box;
}

body {
    font-family:"Montserrat";
    background:var(--cream);
    position:relative;
}

.container {
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.attribution {
    position:absolute;
    bottom:2rem;
}

.card {
    border-radius:16px;
    display:flex;
    overflow:hidden;
    background:var(--white);
    max-width:700px;
}

.card-img {
    background-image: url('images/image-product-desktop.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
}

.content {
    width:50%;
    padding:2em;
}

.subtext {
    color:var(--grey);
    letter-spacing:0.3em;
    text-transform: uppercase;
}

h1 {
    font-family:"Fraunces";
    font-size:3em;
    line-height:110%;
    margin-top:20px;
}

p {
    color:var(--grey);
    line-height:150%;
    font-size:1.25em;
}

.price {
    display:flex;
    align-items:center;
    gap:1em;
    margin-bottom:2em;
}

.primary-price {
    color:var(--green500);
    font-family:"Fraunces";
    font-weight:700;
    font-size:3em;
}

.secondary-price {
    color:var(--grey);
    line-height:150%;
    text-decoration:line-through;
}

.button {
    width: 100%;
    border-radius: 8px;
    padding: 1.25em;
    font-family: "Montserrat";
    font-weight: 600;
    color: var(--white);
    background: var(--green500);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 12px;
    transition: 0.3s;
}

.button:hover {
    background: var(--green700);
}

.button:focus {
    box-shadow:0px 0px 0px 3px var(--green700);
}

@media (max-width: 600px) {
    body {
        font-size:14px;
    }

    .card {
        flex-direction: column;
    }

    .content {
        width: 100%;
    }

    .card-img {
        width: 100%;
        background-image: url('images/image-product-mobile.jpg');
        padding-top:66%;
    }

    .container {
        height:auto;
    }
}